<div class="col-md-12" style="text-align: center;">
  {{ Html.Img("templates/fundacion/fileimages/gracias.svg", {"class":"graciastnhs"}) }}
  <div  style="font-size: 22px;color: #803b8b;">
    Hemos recibido tu información, nuestro equipo se pondrá en contacto contigo a la brevedad posible. ¡Muchas gracias!

</div>
{{ Html.Img("templates/fundacion/fileimages/heart-right.svg", {"class":"graciashrts"}) }}
<div  style="font-size: 17px;color: #803b8b;margin-top: 13px;font-weight: bold;">
  Mientras tanto te invitamos a seguirnos en nuestras redes sociales </div>
<a href="https://www.youtube.com/channel/UCDCqSQLBPje23pXkfEtoACA">  {{ Html.Img("templates/fundacion/fileimages/you.svg", {"class":"youred"}) }} </a>
<a href="https://www.instagram.com/esperanzacontigo/">  {{ Html.Img("templates/fundacion/fileimages/insta.svg", {"class":"youred"}) }} </a>
<a href="https://twitter.com/EsperanzaFEC">  {{ Html.Img("templates/fundacion/fileimages/tw.svg", {"class":"youred"}) }} </a>
<a href="https://www.facebook.com/esperanzacontigoac/">  {{ Html.Img("templates/fundacion/fileimages/fb.svg", {"class":"youred"}) }} </a>

<div class="col-md-12" >
<a href="https://www.facebook.com/esperanzacontigoac/" target="_blank" style="display: inline-flex;margin-top: 12px;"> <div class="circle" style="padding-left: 11px;margin-left: -36%;">  <i style="color: #FFF;" class="fa fa-facebook"></i> </div> </a>

<a href="https://twitter.com/EsperanzaFEC"  target="_blank" style="display: inline-flex;" >
 <div class="circle">
<i style="color: #FFF;" class="fa fa-twitter"></i>
</div>
</a>
<a href="https://www.youtube.com/channel/UCDCqSQLBPje23pXkfEtoACA"  target="_blank" style="display: inline-flex;margin-left: 3%;" >
<div class="circle">
<i style="color: #FFF;" class="fa fa-youtube"></i>
</div>
</a>
<a href="https://www.instagram.com/esperanzacontigo/"  target="_blank" style="display: inline-flex;margin-left: 3%;" >
<div class="circle">
<i style="color: #FFF;" class="fa fa-instagram"></i>
</div>
</a>
</div>
