<div class="col-md-12 " style="color:black;padding: 0px 6%;text-align: justify; margin-bottom:6%;">
  </br>
  Políticas de Privacidad </br></br>
  Fundación Esperanza Contigo, A.C. es una organización de la sociedad civil (OSC) sin fines de lucro dedicada a transformar la vida de niños en situación de abandono, con domicilio fiscal y operativo en Paseo de los Héroes 10289, interior 7002, Zona Urbana Río Tijuana, Tijuana, Baja California, México, C.P. 22010, la cual es responsable de recabar sus datos personales, del uso que se le dé a los mismos, y de su protección.
</br></br>
  La confidencialidad de su información personal es muy importante para Fundación Esperanza Contigo, A.C. Su información personal será utilizada para comunicarle oportunamente sobre nuestras actividades y convocatorias, así como para tenerlos en nuestra base de datos, a manera de contactarnos personalmente con usted en algún determinado momento.
</br></br>
  Es responsabilidad de Fundación Esperanza Contigo, A.C. informarle sobre cambios en los datos que se solicitan. Para las finalidades antes mencionadas, requerimos obtener los siguientes datos personales: nombre, teléfono fijo y móvil, domicilio, correo electrónico y lugar de trabajo.
</br></br>
  Usted tiene el derecho de rectificar y/o cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para el fin que nos haya otorgado, a través de los procedimientos que hemos implementado. Para conocer dichos procedimientos, los requisitos y plazos, se puede poner en contacto con nuestra organización, llamando al +52 (664) 634 3338 o bien, visitar nuestra página de Internet, en el apartado de “Contacto” y escribirnos para que Fundación Esperanza Contigo, A.C. atienda sus solicitudes.
</br></br>
  Asimismo, le informamos que sus datos personales serán utilizados única y exclusivamente por miembros de nuestra institución. Si usted no manifiesta su oposición para que sus datos personales sean utilizados dentro de la institución, se entenderá que ha otorgado su consentimiento para ello.
</br></br>
  Si en cualquier momento un usuario considera que este sitio web no se ha apegado a estos principios, por favor notifique a Fundación Esperanza Contigo, A.C. por e-mail a <a href="mailto:contacto@esperanzacontigo.org"  target="_blank" style="text-decoration: none;color: blue;">contacto@esperanzacontigo.org</a> y emplearemos todos los esfuerzos razonables para determinar y corregir el problema lo más pronto posible.
</br></br>
  Si usted desea dejar de recibir mensajes informativos de nuestra parte, puede solicitarlo a través de los teléfonos +52 (664) 634 3338, o bien, escribirnos en la página ya mencionada.
</br></br>
  Cualquier modificación a este aviso de privacidad podrá consultarla en <a href="http://esperanzacontigo.org/"  target="_blank" style="text-decoration: none;color: blue;"> www.esperanzacontigo.org</a>
</br></br>
  Fecha de última actualización: 02-01-2017

      {{body}}

</div>
