<div class="col-md-12 a-azul">
	<div class="container1">
		<div class="col-md-4 ">
			<div class="col-md-12">
				<div class="col-md-10 a-acceso">
					{{ Form.create({control:"contactos",function:"acceso"},"frmAcceso") }}
					<div class="col-md-12">
						<div class="col-md-12 titulo">
							Acceso al sistema
						</div>
						<div class="col-md-12 a-campos">
							{{ Form.Input("rfc",{"class":"form-acceso","placeholder":" RFC","required":"true"}) }}

							{{ Form.Input("contrasena",{"class":"form-acceso","placeholder":" Contraseña","required":"true","type":"password"}) }}
						</div>
					</div>
					{{Form.Submit("Entrar",{"class":"btn btn-amarillo"})}}
					{{ Form.End()}}
				</div>
			</div>
			<div class="col-md-12 soporte">
				<div class="col-md-12 titulo-amarillo">
					¿No tienes una cuenta?
				</div>
				<div class="col-md-12 texto-gratis">
	                Regístrate y pruébalo GRATIS&nbsp
	                <a href="pagfacturacion">¡Ahora!</a>
	            </div>
	            <div class="col-md-12 titulo-amarillo">
					¡Obten 10 créditos gratis!
				</div>
			</div>
		</div>
		<div class="col-md-8 a-slider">
			<div class="a-carruselP col-md-12" style="padding:0px">
				<div id="carruselP" class="carousel slide" data-ride="carousel" style="position: relative;">
					<ol class="carousel-indicators">
						<li data-target="#carruselP" data-slide-to="0" class="active"></li>
					    <li data-target="#carruselP" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner" role="listbox">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 a-morada">
	<div class="container2">
		<b class="titulo col-md-6">

		</b>
		<b class="texto col-md-6">

		</b>
	</div>
</div>
<div class="col-md-12 a-naranja">
	<div class="container1">
		<div class="col-md-12 titulo">

		</div>
		<div class="col-md-2 img">
			<img src="fileimages/home/munecofeliz-01.svg">
		</div>
		<div class="col-md-8 a-video">
			<iframe id="video-naranja" width="560" height="315" src="https://www.youtube.com/embed/PFsiufLVxkk" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-md-2 a-registrate">
			<div class="col-md-12 titulo2">
				Regístrate y pruébalo gratis
				<a href="pagfacturacion">
					<div class="btn btn-azul">
						¡Ahora!
					</div>
				</a>
			</div>
			<div class="col-md-12 img-resgistrate">
				<img src="fileimages/home/Recurso 3.svg">
			</div>
		</div>
		<div class="col-md-12 text-azul">

		</div>
	</div>
</div>
<div class="col-md-12 a-blanca">
	<div class="container1">
		<div class="col-md-6">
			<div class="col-md-12 titulo">
				¡Tus facturas desde cualquier dispositivo!
			</div>
			<div class="col-md-12 texto">
				Con nuestra plataforma online, puedes facturar fácilmente desde todos tus dispositivos, a cualquier hora y en cualquier lugar, disfrutando del 100% de disponibilidad ¡sin interrupciones!
			</div>
			<div class="col-md-12 titulo2">
				Regístrate y pruébalo GRATIS
				<a href="pagfacturacion">
					<div class="btn btn-azul">
						¡Ahora!
					</div>
				</a>
			</div>
			<div class="col-md-12 titulo-amarillo">
				¡Obten 10 créditos de cortesía!
			</div>
		</div>
		<div class="col-md-6 img">
			<img src="fileimages/home/multiplataforma.png">
		</div>
	</div>
</div>
<div class="col-md-12 a-gris">
	<div class="container1">
		<div class="col-md-12">
			<div class="col-md-1 img1">
				<img src="fileimages/home/Recurso 4.svg">
			</div>
			<div class="col-md-10 titulo">
				<b class="col-md-5 grande">

				</b>
				<b class="col-md-7 texto">

				</b>
			</div>
			<div class="col-md-1 img2">
				<img src="fileimages/home/Recurso 5.svg">
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-1">
			</div>
			<div class="col-md-10 paquetes">
				<div class="col-md-12 slider-paquetes">
					<div class="flecha-izquierda2">
						<i class="fa fa-caret-left iconodis"></i>
					</div>
					<div class="slider5 uno">
						<div class="slider-inner5 uno" style="">

						</div>
					</div>
					<div class="flecha-derecha2">
						<i class="fa fa-caret-right iconodis"></i>
					</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>
	<div class="col-md-12 a-metodos">
		<div class="container1">
			<div class="col-md-3 t-metodos">
				Multiples métodos de pago
			</div>
			<div class="col-md-6 img-metodos">
				<img src="fileimages/home/Recurso 6.svg">
			</div>
			<div class="col-md-3 t-metodos2">
				y muchos más
			</div>
			<div class="col-md-12 tx-metodos">
			Para ver todos los paquetes y todos lo métodos de pago entra <a class="enlace" href="pagfacturacion">AQUÍ</a>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 a-clientes">
	<div class="container1">
		<div class="col-md-12 t-clientes">
			Nuestros clientes
		</div>
		<div class="col-md-12 slider-clientes">
			<div class="flecha-izquierda2">
				<i class="fa fa-caret-left iconodis"></i>
			</div>
			<div class="slider4 uno">
				<div class="slider-inner4 uno" style="">

				</div>
			</div>
			<div class="flecha-derecha2">
				<i class="fa fa-caret-right iconodis"></i>
			</div>
		</div>
	</div>
</div>
<div class="col-md-12 a-publicaciones">
	<div class="container1">
		<div class="col-md-6 t-publicaciones">
			Publicaciones más recientes
		</div>
		<div class="col-md-6 t-publicaciones">
			Nocias (complementos SAT)
		</div>
		<div class="col-md-12">
			<div class="col-md-6 publicaciones">

			</div>
			<div class="col-md-6 noticias">

			</div>
			<!--<div class="col-md-4 publicacion">
				<div class="col-md-12 img">
					<img src="fileimages/home/camara-02.svg">
				</div>
				<div class="col-md-12 titulo">
					Como  hacer  la  Factura  Global  al público    en    General    y    evitar multas del SAT
				</div>
				<div class="col-md-12 texto">
					El emitir una factura global por las ventas al público  en  general  es  obligatorio  para  los contribuyentes  que  tienen  ingresos  por  la venta de algún producto o servicio. Este comprobante se expide por las transacciones o ventas que no emita un CFDI.
				</div>
			</div>
			<div class="col-md-4 publicacion">
				<div class="col-md-12 img">
					<img src="fileimages/home/camara-02.svg">
				</div>
				<div class="col-md-12 titulo">
					Como  hacer  la  Factura  Global  al público    en    General    y    evitar multas del SAT
				</div>
				<div class="col-md-12 texto">
					El emitir una factura global por las ventas al público  en  general  es  obligatorio  para  los contribuyentes  que  tienen  ingresos  por  la venta de algún producto o servicio. Este comprobante se expide por las transacciones o ventas que no emita un CFDI.
				</div>
			</div>
			<div class="col-md-4 publicacion">
				<div class="col-md-12 img">
					<img src="fileimages/home/camara-02.svg">
				</div>
				<div class="col-md-12 titulo">
					Como  hacer  la  Factura  Global  al público    en    General    y    evitar multas del SAT
				</div>
				<div class="col-md-12 texto">
					El emitir una factura global por las ventas al público  en  general  es  obligatorio  para  los contribuyentes  que  tienen  ingresos  por  la venta de algún producto o servicio. Este comprobante se expide por las transacciones o ventas que no emita un CFDI.
				</div>
			</div>-->
		</div>
		<div class="col-md-12 tx-metodos">
			Para ver más publicaciones entra <a href="blog">AQUÍ</a>
		</div>
	</div>
</div>
<div class="col-md-12 contacto-home">
	<div class="container1">
		<div class="col-md-3">
			<div class="col-md-12 titulo2">
				Ponte en contacto con nosotros
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-12 titulo">
				Contacto
			</div>
			<div class="fom-conhom">
				{{ Form.create({control:"contactos",function:"home"},"frmConhom") }}
					<label class="label-datos">Nombre</label>
					{{Form.Input("nombre",{"class":"form-registrate","required":"true"})}}

					<label class="label-datos">Email</label>
					{{Form.Input("email",{"class":"form-registrate","required":"true", "type":"email"})}}

					<label class="label-datos">Teléfono</label>
					{{Form.Input("telefono",{"class":"form-registrate","required":"true",})}}

					<label class="label-datos">Mensaje</label>
					{{ Form.TextArea("mensaje",{ "class":"form-registrate2",rows:"4","required":"true"}) }}

					<div class="col-md-12 pie1">
						*Todos los campos son obligatorios.<br>
						*Al enviar acepto todas las <a href="politicas" target="_blank" style="color: #0D388F;">políticas de privacidad</a>.
					</div>
					<div class="col-md-4 boton-registrate">
						{{Form.Submit("Enviar",{"class":"btn btn-azul btn-datos"})}}
					</div>
					{{ Form.End()}}
			</div>
		</div>
		<div class="col-md-3">
			 <img src="fileimages/home/Recurso55.svg">
		</div>
		<div class="col-md-12">

		</div>
	</div>
</div>
