@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url(../fonts/OpenSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url(../fonts/OpenSans-BoldItalic.ttf) format('truetype');
}

#header{background: #141414;background-color: rgb(20, 20, 20);background-image: none;background-repeat: repeat;background-attachment: scroll;background-clip: border-box;background-origin: padding-box;
background-position-x: 0%;background-position-y: 0%;background-size: auto auto;background: #141414;}

#header.header-layout-03 .settings {padding-top: 3px;}

#header .settings {padding: 16px 0 0 0;padding-top: 3px;display: inline-block;}

body {font-family: Ubuntu, sans-serif;font-size: 16px;line-height: 1.6875;color: #999999;}

.dropdown {display: inline;padding: 0 20px 10px 0;font-weight: 300;}

.dropdown {font-weight: 300;}

.dropdown-label {display: inline-block;padding: 0 10px 0 0;}

.dropdown > a {text-decoration: none;}

.dropdown > a:hover {text-decoration: none;}

a:hover, a:focus {color: #999999;text-decoration: underline;}

a {color: #999999;}

.dropdown-toggle {cursor: pointer;}

.dropdown .caret {margin-left: 16px;border-top: 5px dashed;border-top: 5px solid \9;border-right: 5px solid transparent;border-left: 5px solid transparent;}

.caret {border-top-style: solid;border-top: 3px solid;}

.caret {display: inline-block;width: 0;height: 0;margin-left: 2px;vertical-align: middle;border-top: 4px dashed;border-top: 4px solid \9;border-right: 4px solid transparent;border-left: 4px solid transparent;}

.settings .dropdown-menu, .account .dropdown-menu {min-width: 209px;}